@use '../../desktop.scss' as appDesktop;
@use '../desktop.scss' as bodyDesktop;
@use '../../mobile.scss' as appMobile;
@use '../mobile.scss' as bodyMobile;

.root {
  width: 100%;
  overflow: hidden;
  background-color: #d9d9d9;
  .wrapper {
    @media screen and (min-aspect-ratio: 1 / 1) {
      @include bodyDesktop.layout;
    }
    @media screen and (max-aspect-ratio: 1 / 1) {
      @include bodyMobile.layout;
    }
    .title {
      @media screen and (min-aspect-ratio: 1 / 1) {
        font-size: 64px;
      }
      @media screen and (max-aspect-ratio: 1 / 1) {
        font-size: 44px;
      }
      font-weight: bold;
    }
    .preparring {
      @media screen and (min-aspect-ratio: 1 / 1) {
        margin-top: 150px;
        font-size: 44px;
      }
      @media screen and (max-aspect-ratio: 1 / 1) {
        margin-top: 60px;
        font-size: 36px;
      }
      width: 100%;
      text-align: center;
    }
  }
}
