@use '../desktop.scss' as bodyDesktop;
@use '../../desktop.scss' as appDesktop;
@use '../mobile.scss' as bodyMobile;
@use '../../mobile.scss' as appMobile;

.root {
  width: 100%;
  overflow: hidden;
  font-family: NotoSansKR;
  .wrapper {
    @media screen and (min-aspect-ratio: 1 / 1) {
      @include bodyDesktop.layout;
    }
    @media screen and (max-aspect-ratio: 1 / 1) {
      @include bodyMobile.layout
    }
    .title {
      @media screen and (min-aspect-ratio: 1 / 1) {
        font-size: 64px;
      }
      @media screen and (max-aspect-ratio: 1 / 1) {
        font-size: 44px;
      }
      font-weight: bold;
    }
    .desktopsWrapper {
      @media screen and (max-aspect-ratio: 1 / 1) {
        display: none;
      }
      margin-top: 150px;
      .desktopWrapper {
        &:not(:first-child) {
          margin-top: 100px;
        }
      }
    }
    .mobilesWrapper {
      @media screen and (min-aspect-ratio: 1 / 1) {
        display: none;
      }
      margin-top: 60px;
      .mobileWrapper {
        &:not(:first-child) {
          margin-top: 40px;
        }
      }
    }
  }
}
