$desktop-size: 320px;
$mobile-size: 100%;

.root {
  @media screen and (min-aspect-ratio: 1 / 1) {
    width: $desktop-size;
    height: $desktop-size;
  }
  @media screen and (max-aspect-ratio: 1 / 1) {
    width: $mobile-size;
    aspect-ratio: 1 / 1;
  }
  position: relative;
  background-color: #f2f2f2;
  border-radius: 10px;
  .imgWrapper {
    @media screen and (min-aspect-ratio: 1 / 1) {
      width: $desktop-size;
      height: $desktop-size;
    }
    @media screen and (max-aspect-ratio: 1 / 1) {
      width: $mobile-size;
      aspect-ratio: 1 / 1;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .fullscreenButton {
    position: absolute;
    bottom: 8px;
    right: 8px;
    @media screen and (min-aspect-ratio: 1 / 1) {
      img {
        width: 40px;
        height: 32px;
      }
    }
    @media screen and (max-aspect-ratio: 1 / 1) {
      display: none;
    }
  }
}
