@use '../desktop.scss' as appDesktop;

$top-bottom-margin: 150px;

@mixin layout {
  margin-left: appDesktop.$left-right-margin;
  margin-right: appDesktop.$left-right-margin;
  margin-top: $top-bottom-margin;
  margin-bottom: $top-bottom-margin;
  width: calc(100% - appDesktop.$left-right-margin * 2); 
}
