@use './desktop.scss' as desktop;
@use './mobile.scss' as mobile;

.root {
  width: 100%;
  height: 5rem;
  font-family: NotoSansKR;
  font-size: 20px;
  position: fixed;
  z-index: 200;
  background-color: #d9d9d9;
  .topWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @media screen and (min-aspect-ratio: 1 / 1) {
      @include desktop.layout;
    }
    @media screen and (max-aspect-ratio: 1 / 1) {
      @include mobile.layout;
    }
  }
  .menuListWrapper {
    @media screen and (min-aspect-ratio: 1 / 1) {
      display: none;
    }
    overflow: hidden;
  }
}
