@use '../layout.scss' as layout;

.root {
  width: 100%;
  height: layout.$height;
  font-size: 16px;
  font-weight: bold;
  font-family: NotoSansKR;
  display: flex;
  justify-content: left;
  align-items: center;
  p {
    &:hover {
      cursor: pointer;
    }
  }
}
