@use '../../desktop.scss' as appDesktop;
@use '../../mobile.scss' as appMobile;
@use '../desktop.scss' as bodyDesktop;

.root {
  width: 100%;
  overflow: hidden;
  font-family: NotoSansKR;
  .wrapper {
    @media screen and (min-aspect-ratio: 1 / 1) {
      @include bodyDesktop.layout;
      margin-top: calc(bodyDesktop.$top-bottom-margin + 80px);
    }
    @media screen and (max-aspect-ratio: 1 / 1) {
      margin-left: appMobile.$left-right-margin;
      margin-right: appMobile.$left-right-margin;
      margin-top: calc(100px + 5rem);
      margin-bottom: 100px;
      width: calc(100% - appMobile.$left-right-margin * 2);
    }
    .title {
      font-family: NixieOne;
      @media screen and (min-aspect-ratio: 1 / 1) {
        font-size: 52px;
      }
      @media screen and (max-aspect-ratio: 1 / 1) {
        font-size: 44px;
      }
    }
    .pictograms {
      display: flex;
      justify-content: left;
      align-items: top;
      flex-wrap: wrap;
      @media screen and (min-aspect-ratio: 1 / 1) {
        margin-top: 100px;
        gap: 60px;
      }
      @media screen and (max-aspect-ratio: 1 / 1) {
        margin-top: 60px;
        gap: 40px;
      }
    }
  }
}
